<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-path">/Users/macbook/Documents/LOG</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%T] [%X{requestId}] %level %logger{10} - %msg%n"/>
        </Console>
        <RollingFile name="hendra-service" fileName="${log-path}/hendra-service.log" filePattern="${log-path}/hendra-service-%d{yyyy-MM-dd}-%i.old.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%T] [%X{requestId}] %level %logger{10} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10000 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.example.movies" level="DEBUG" additivity="false">
            <AppenderRef ref="hendra-service"/>
        </Logger>
    </Loggers>
</Configuration>